<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>ExpressBeats</title>
</head>
<body>
    <div class="background">
        <h1 class="title">Welcome to ExpressBeats</h1>
        <div class="container">
            <h2>Select User Type</h2>
            <div class="user-types">
                <!-- Admin User Type -->
                <a href="{% url 'admin_login' %}" class="user-type"> <!-- Link to admin view -->
                    <img src="{% static 'css/images/admin.png' %}" alt="Admin" class="user-image">
                    <p>Admin</p>
                </a>

                <!-- Regular User Type -->
                <a href="{% url 'login' %}" class="user-type">
                    <img src="{% static 'css/images/user.png' %}" alt="User" class="user-image">
                    <p>User</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
