<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressBeats Menu</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <div class="menu">
        <div class="menu-item">
            <!-- Change the URL to point to the emotion detection view -->
            <a href="{% url 'live_emotion_detection' %}">ExpressBeats</a>
        </div>
        <div class="menu-item">
            <a href="{% url 'login' %}">MusicBot</a>
        </div>
    </div>
</body>
</html>
